name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches:
      - project
  pull_request:
    branches:
      - project

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
         echo "${{ secrets.DOCKER_PASS }}" | docker login \
         -u "${{ secrets.MY_USER }}" \
         --password-stdin

      - name: Build Backend Docker Image
        run: |
          docker build \
            -f backend/Dockerfile \
            -t altamsh/backend:latest \
            backend

      - name: Build Frontend Docker Image
        run: |
          docker build \
            -f frontend/Dockerfile \
            -t altamsh/frontend:latest \
            frontend
